/* paleta de colores */ 
:root{
    --color1: #141414;
    --color2 : #282828;
    --color3 : #7F7D96;
    --color4 : #5ACCA4; 
    --color5 : #6B5CFF; 
    --color6 : #3f2cfa; /*Nuevo color*/
    --color7 : #EAA2FC;
    --color8 : #FFFFFF;
    --color9 : #F9FAFC;
    --color10 : #181E4B;
    --color11 : #FE654F;
    --color12 : #E6CA52;
    --bs-border-radius : 20px;
    --bs-btn-bg : #6B5CFF;
}

/* fin de colores */ 

/* forma de implementacion*/
/* color: var(--color2);*/ 

/* inicio estilos globales */

* {
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: var(--color9);
}

body::-webkit-scrollbar {
    display: none;
}
/* fin estilos globales */

/*Inicio cosas del header*/
.paraElHeader {
    background-color: hsla(60, 4%, 20%, 0.419);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-light{
    border: 0;
    width: 10rem;
    height: auto;
    background-color: var(--color5);
    color: var(--color8);
}

.btn-light:hover{  
    background-color: var(--color6);
    color: var(--color8);
}

.nosotros-mdf-txt{
    font-weight: bold;
    color: var(--color8);
}

.nosotros-mdf-txt:hover{
    color: var(--color5);
}

.dropdown-menu-mdf{
    font-weight: bold;
    background-color: hsla(60, 4%, 20%, 0.419);
    backdrop-filter: blur(20px);
}

.dropdown-menu-mdf :hover{
    background-color: hsla(60, 4%, 20%, 0.582);
    backdrop-filter: blur(20px);
    color: var(--color9);
}

.icon-language :hover{
    fill: var(--color5 );
}
.logoSarp {
    width: 50px;
    height: 50px;
}

.logoSarp:hover{
    transform: scale(1.08);
}

/*fin cosas del header*/

/*Inicio cosas del footer*/
.paraElFooter {
    background-color: var(--color2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    

}

.daiconSize{
    width : 40px;
    height : 40px;
}
.daiconSize:hover{
        transform: scale(1.08);
}
.logoSarpFooter {
    width: 100px;
    height: 100px;
}
.logoSarpFooter:hover{
    transform: scale(1.08);
}
.daIconFb {
    fill: var(--color8)
}
.daIconFb:hover{
    fill : #0866FF
}

.daIconIg {
    fill: var(--color8)
}

/*.daIconIg:hover {

}*/

.daIconIn {
    fill: var(--color8)
}

.daIconIn:hover {
    fill: #0A66C2
}

/*fin Cosas del footer*/

/*Inicio Clases Perfil*/


.imgfrontPage{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.imgUser{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*Fin Clases Perfil*/

/*Inicio Clases Puntajes*/

.sizeFontPts{
font-size: 4rem;
}

.negative{
    color: var(--color11);
    }

.positive{
    color: var(--color4);
    }

.available{
    color: var(--color6);
    }

.focus{
    color: var(--color7);
    }

.fondo{
    width: 250px;
    height: 500px;
    border: 3px solid  #000000;
}

/*Fin Clases Puntajes*/


/*Inicio Clases ranking*/

.sizeCard{
    width: 18rem;
}


