/* paleta de colores */ 
:root{
    --color1: #141414;
    --color2 : #282828;
    --color3 : #7F7D96;
    --color4 : #5ACCA4; 
    --color5 : #6B5CFF; 
    --color6 : #3f2cfa; /*Nuevo color*/
    --color7 : #EAA2FC;
    --color8 : #FFFFFF;
    --color9 : #F9FAFC;
    --color10 : #181E4B;
    --color11 : #FE654F;
    --color12 : #E6CA52;
}
/* fin de colores */ 

/* forma de implementacion*/
/* color: var(--color2);*/ 

/* inicio estilos globales */

* {
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: var(--color9);
}

body::-webkit-scrollbar {
    display: none;
}
/* fin estilos globales */

/*Inicio cosas del header*/
.paraElHeader {
    background-color: hsla(60, 4%, 20%, 0.419);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.login-mdf-btn{
    background-color: var(--color5);
    color: var(--color8);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
}

.login-mdf-btn:hover{  
    background-color: var(--color6);
    color: var(--color8);
}

.nosotros-mdf-txt{
    font-weight: bold;
    color: var(--color8);
}

.nosotros-mdf-txt:hover{
    color: var(--color5);
}

.dropdown-menu-mdf{
    font-weight: bold;
    background-color: hsla(60, 4%, 20%, 0.419);
    backdrop-filter: blur(20px);
}

.dropdown-menu-mdf :hover{
    background-color: hsla(60, 4%, 20%, 0.582);
    backdrop-filter: blur(20px);
    color: var(--color9);
}

.icon-language :hover{
    fill: var(--color5 );
}
.logoSarp {
    width: 50px;
    height: 50px;
}

.logoSarp:hover{
    transform: scale(1.08);
}

/*fin cosas del header*/

/*Inicio cosas del footer*/
.paraElFooter {
    background-color: var(--color2);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    

}

.daiconSize{
    width : 40px;
    height : 40px;
}
.daiconSize:hover{
        transform: scale(1.08);
}
.logoSarpFooter {
    width: 100px;
    height: 100px;
}
.logoSarpFooter:hover{
    transform: scale(1.08);
}
.daIconFb {
    fill: var(--color8)
}
.daIconFb:hover{
    fill : #0866FF
}

.daIconIg {
    fill: var(--color8)
}

.daIconIg:hover {

}

.daIconIn {
    fill: var(--color8)
}

.daIconIn:hover {
    fill: #0A66C2
}




/*fin Cosas del footer*/
